<!doctype html>
<html>
<head>
    <meta http-equiv="content-language" content="ja">
    <meta charset="UTF-8">
    <title>CSA</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
<body>

<div class="container">
  <h1>Considered-Solved-Archived</h1>
  <p>the progress will be saved into your browser(localStorage).</p>
</div>

<div class="container" v-cloak>
  <div id="app">
    <div class="progress">
      <div class="progress-bar progress-bar-success" style="width: {{ solvedRate() }}%">
        {{ expressProgress() }}
      </div>
    </div>

    <ul class="nav nav-tabs">
      <li role="presentation" v-class="active: mode === 'considered'"><a href="#" v-on="click: toggleMode('considered')">considered</a></li>
      <li role="presentation" v-class="active: mode === 'solved'"><a href="#" v-on="click: toggleMode('solved')">solved</a></li>
      <li role="presentation" v-class="active: mode === 'archived'"><a href="#" v-on="click: toggleMode('archived')">archived</a></li>
    </ul>

    <div id="considered" v-show="mode == 'considered'">
      <button type="button" class="btn btn-success" name="button" v-on="click: addProblem()">
        <span class="glyphicon glyphicon-plus"></span>
      </button>

      <div v-repeat="problem in problems | filterBy 'considered' in 'state'">
        <button type="button" class="btn btn-primary btn-sm" name="toggleForm" v-on="click: toggleForm(problem)">
          <span class="glyphicon glyphicon-pencil"></span>
        </button>
        <div v-show="!problem.editing">
          <p>
            <span class="glyphicon glyphicon-file"></span><a href="{{ problem.url }}">{{ problem.name }}</a>&nbsp;
            <span class="glyphicon glyphicon-time"></span>{{ expressTime(problem.date) }}&nbsp;
            <button type="button" class="btn btn-primary btn-sm" name="toggleThought" v-on="click: toggleThought(problem)">
              <span class="glyphicon glyphicon-book"></span>
            </button>
          </p>
          <div v-show="problem.showingThought">
            <pre>{{ problem.thought }}</pre>
          </div>
          <button type="button" class="btn btn-success btn-sm" name="solved" v-on="click: moveState(problem, 'solved')">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm" name="solved" v-on="click: removeProblem(problem)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <div v-show="problem.editing">
          <form class="" action="index.html" method="post">
            <input type="text" class="form-control" name="name" v-model="problem.name">
            <input type="text" class="form-control" name="url" v-model="problem.url">
            <textarea name="thought" class="form-control" rows="8" cols="40" v-model="problem.thought"></textarea>
          </form>
        </div>
        <hr>
      </div>
    </div>

    <div id="solved" v-show="mode == 'solved'">
      <div v-repeat="problem in problems | filterBy 'solved' in 'state'">
        <div v-show="!problem.editing">
          <p>
            <span class="glyphicon glyphicon-file"></span><a href="{{ problem.url }}">{{ problem.name }}</a>&nbsp;
            <span class="glyphicon glyphicon-time"></span>{{ expressTime(problem.date) }}&nbsp;
            <button type="button" class="btn btn-primary btn-sm" name="toggleThought" v-on="click: toggleThought(problem)">
              <span class="glyphicon glyphicon-book"></span>
            </button>
          </p>
          <div v-show="problem.showingThought">
            <pre>{{ problem.thought }}</pre>
          </div>
          <button type="button" class="btn btn-success btn-sm" name="solved" v-on="click: moveState(problem, 'archived')">
            <span class="glyphicon glyphicon-star"></span>
          </button>
          <button type="button" class="btn btn-danger btn-sm" name="solved" v-on="click: removeProblem(problem)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <hr>
      </div>
    </div>

    <div id="archived" v-show="mode == 'archived'">
      <div v-repeat="problem in problems | filterBy 'archived' in 'state'">
        <div v-show="!problem.editing">
          <p>
            <span class="glyphicon glyphicon-file"></span><a href="{{ problem.url }}">{{ problem.name }}</a>&nbsp;
            <span class="glyphicon glyphicon-time"></span>{{ expressTime(problem.date) }}&nbsp;
            <button type="button" class="btn btn-primary btn-sm" name="toggleThought" v-on="click: toggleThought(problem)">
              <span class="glyphicon glyphicon-book"></span>
            </button>
          </p>
          <div v-show="problem.showingThought">
            <pre>{{ problem.thought }}</pre>
          </div>
          <button type="button" class="btn btn-danger btn-sm" name="solved" v-on="click: removeProblem(problem)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <hr>
      </div>
    </div>

  </div>
</div>
<script src="js/bundle.js"></script>
</body>
</html>
